{% extends 'main/base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        #chart-container {
            width: 1000px;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div id="chart-container">
        <canvas id="myChart" width="100" height="100"></canvas>
    </div>

    <script>
        var likelihood_values = {{ likelihood_values|safe }};
        var count_values = {{ count_values|safe }};
        var color = ["green", "red", "yellow", "orange", "pink", "cyan"];

        new Chart("myChart", {
            type: "doughnut",
            data: {
                labels: likelihood_values.map(value => "likelihood : " + value),
                datasets: [
                    {
                        data: count_values,
                        backgroundColor: color,
                    }
                ]
            },
            options: {
                legend: { display: true },
                title: {
                    display: true,
                    text: "Donut Chart",
                },
            }
        });
    </script>
</body>
</html>
{% endblock %}
